<div class="row">
<div class="span4">
	<h4>The Pay-off Matrix</h4>
	<table class="table table-bordered">
		<tr>
			<td>(row, col)</td>
			<th>Stag</th>
			<th>Hare</th>
		</tr>
		<tr>
			<th>Stag</th>
			<td>(<%= scoringMatrix.AA %>, <%= scoringMatrix.AA %>)</td>
			<td>(<%= scoringMatrix.AB %>, <%= scoringMatrix.BA %>)</td>
		</tr>
		<tr>
			<th>Hare</th>
			<td>(<%= scoringMatrix.BA %>, <%= scoringMatrix.AB %>)</td>
			<td>(<%= scoringMatrix.BB %>, <%= scoringMatrix.BB %>)</td>
		</tr>
	</table>
</div>
</div>