@import "nib"

.table {
	margin-bottom: 10px;
}

#content-outer
	/* width: 960px; */
	margin: auto;

body {
	border-top: 3px solid #ccc;
}

body.instructor-focus {
	border-top: 3px solid #0c0;
}


/** temporary debug nav */
#debug-nav {
	position: fixed;
	bottom: 0;
	background: #eee;
	padding: 4px 4px 0 4px;
	border-radius: 4px 4px 0 0;
}


#canvas-container {
	width: 800px;
	height: 600px;
}

#main-content {
	padding: 5px 10px;
}

h1 {
	margin: 15px 0 20px; /* a bit bigger margins (default is 10px 0) */
}

.view-controls {
	position: relative;
	float: left;
}

.clickable {
	cursor: pointer;
}

.view-controls .zoom-out,.view-controls .zoom-in {
	opacity: .5;
}

.view-controls .zoom-out:hover,.view-controls .zoom-in:hover {
	opacity: .7;
}

.zoom-line {
	display: inline-block;
	position: relative;
	top: 2px;
}

.zoom-line .zoom-box {
	width: 4px;
	height: 2px;
	background: #ccc;
	margin: 4px 3px;
	display: inline-block;
}
.zoom-box.active {
	width: 6px;
	height: 6px;
	background: #666;
	margin: 2px;
	border-radius 3px
}

.zoom-0 #main-content {
	zoom: 0.75;
}
.zoom-1 #main-content {
	zoom: 1;
}
.zoom-2 #main-content {
	zoom: 1.5;
}
.zoom-3 #main-content {
	zoom: 2;
}
.zoom-4 #main-content {
	zoom: 2.5;
}
.zoom-5 #main-content {
	zoom: 3;
}


.clicker-toolbar button {
	margin-right: 10px;
}


/** Clicker Inputs **/

.clicker {
	width: 140px;
	border: 1px solid #ccc;
	padding: 10px;
	display: inline-block;
	margin: 10px 20px;
	border-radius: 4px;
}

.clicker-id {
	text-align: center;
	margin: 0 0 5px;
}

.clicker-btn.labeled {
	text-align: left;
	font-weight: normal;
}
.clicker-btn b {
	padding: 8px;
	margin-right: 3px;
	background: rgba(0,0,0,.1);
}

.clicker-btn {
	font-weight: bold;
}


/** Top bar **/
.top-bar {
	background: #eee;
	border: 1px solid #ccc;
	border-top: 0;
	padding: 2px;
	line-height: .75em;
	font-size: .75em;
}

/** server status in top bar **/
.server-status {
	margin-top: 2px;
}
.server-status li {
	line-height: .75em;
}

.server-status ul {
	margin-bottom: 0;
}

.circle-status {
	width: 1em;
	height: 1em;
	display: inline-block;
	border-radius .5em
	background-color #ccc
	vertical-align text-top
	margin-top: 1px
}

.circle-status.status-on {
	background-color #5bb75b
}
.circle-status.status-off {
	background-color #da4f49
}

.not-connected > .accepting-choices {
	display: none;
}

.v-spacing ,.bottom-spacing {
	margin-bottom: 12px;
}

.v-spacing, .top-spacing {
	margin-top: 12px;
}

.control-panel-group {
	margin-bottom: 32px;
}

/* PD */
.results-participants {
	margin-bottom: 40px;
}
.results-stats table {
	width: 20em;
}

/* configuration */
.configure {
	background: #eee;
	padding: 10px
	border-radius: 4px
}

.form-horizontal.narrow .controls {
	margin-left: 100px;
}

.form-horizontal.narrow .control-label {
	width: 80px;
}

.object-configure {
	background: rgba(0,0,0,.05);
	padding: 1px 10px;
	border-radius: 4px;
}