@import "nib"

.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

line {
  shape-rendering: crispEdges;
  stroke: #333;
}

text {
  fill: #333;
}

rect {
  opacity: .75;
  -webkit-transition: .5s opacity;
}

rect:hover {
  opacity: 1;
}

/* value label in bar */
.bar-value {
	font-weight normal
	font-size 3em
}

.bar-value.inside-bar {
	fill #fff

}

.bar-value.inside-bar.outline {
	stroke: #000
	stroke-width: 4px
	stroke-opacity: .8
}

.bar-value.outside-bar {
	fill #333
}

g.x-line text {
  font-size: 1.4em;
  text-anchor: end;
}

g.x-line line {
  stroke: rgba(0,0,0,.3);
  stroke-width: 5px;
}

/** Tooltip */
.chart-tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  min-height: 30px;
  padding: 10px;
  background: rgba(255,255,255,.95);
  box-shadow 4px 4px 1px rgba(0,0,0,.3);
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  pointer-events: none;
}

.chart-tooltip div.value {
  font-size: 1.4em;
  margin-bottom: 6px;
}

.chart-tooltip div.value span.value {
  font-weight: bold;
}

.chart-tooltip .total-value span.above {
  color: #0a0;
}

.chart-tooltip .total-value span.above:before {
  content: "+";
}

.chart-tooltip .total-value span.below {
  color: #c00;
}

.chart-tooltip .count {
  font-size: 1.2em;
}

.chart-tooltip h3 {
  line-height: 1em;
  margin: 0 0 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
}