.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

line {
  shape-rendering: crispEdges;
  stroke: #333;
}

text {
  fill: #333;
}

rect {
  opacity: .75;
  -webkit-transition: .5s opacity;
}

rect:hover {
  opacity: 1;
}

/* value label in bar */
.bar-value {
	font-weight normal
	font-size 3em
}

.bar-value.inside-bar {
	fill #fff

}

.bar-value.inside-bar.outline {
	stroke: #000
	stroke-width: 4px
	stroke-opacity: .8
}

.bar-value.outside-bar {
	fill #333
}

g.x-line text {
  font-size: 1.4em;
  text-anchor: end;
}

g.x-line line {
  stroke: rgba(0,0,0,.3);
  stroke-width: 5px;
}