/*-- Style for the Participant Grid app -----------------------------------------------*/
@import "nib"

.participant-grid
	position relative

.participant
	width 7.6em
	height 7.6em
	border 1px solid #ddd
	background-color #888
	margin 1px
	font-family 'helvetica neue', sans-serif
	color #fff
	position relative
	display inline-block
	transition 1s background-color
	border-radius .5em

.brief .participant
	width 7em
	height 5em

.brief .participant.results .score
	top auto
	font-size 2em

.brief .participant.results .partner-result
	display none

.brief .participant .medium-text
	top auto
	bottom 15%
	font-size 1.8em


.brief .participant .choice-text
	bottom 6%
	top auto
	font-size 2.8em

.participant.choice-a
	background-color #03588C

.participant.choice-b
	background-color #1763A6

.participant.choice-c
	background-color #419CA6

.participant.choice-d
	background-color #54BF83

.participant.choice-e
	background-color #8DBF41

.participant.participant-here
	background-color rgb(51, 141, 23)

.participant .id-text
	font-size 1.4em
	text-align center
	margin-top: .3em

.participant .choice-text
	font-size 4em
	position absolute
	top 60%
	line-height 1em
	margin-top -.5em
	left 0
	right 0
	text-align center

.participant .medium-text
	font-size 2em
	position absolute
	top 55%
	line-height 1em
	margin-top -.5em
	left 0
	right 0
	text-align center


.participant.played
	background-color #333


.participant.results .score
	top 43%

.participant.results .partner-result
	position absolute
	bottom 0
	left 0
	right 0
	text-align center
	background rgba(0,0,0,.2)
	border-radius 4px

.participant.results .partner-id
	line-height 1em
	margin-top .3em
	font-size .9em

.participant.results .partner-score
	font-size 1.2em
	line-height: 1.2em
