/*-- Style for the Participant Grid app -----------------------------------------------*/
@import "nib"

.participant-grid
	position relative
	margin-bottom: 40px

.participant
	width 5.5em
	height 5.5em
	border 1px solid #ddd
	background-color #888
	margin 1px
	font-family 'helvetica neue', sans-serif
	color #fff
	position relative
	display inline-block
	transition 1s background-color
	border-radius .5em

.participant.choice-a
	background-color #03588C

.participant.choice-b
	background-color #1763A6

.participant.choice-c
	background-color #419CA6

.participant.choice-d
	background-color #54BF83

.participant.choice-e
	background-color #8DBF41

.participant.participant-here
	background-color rgb(51, 141, 23)

.participant .id-text
	font-size 1.3em
	text-align center
	margin-top: .2em

.participant .choice-text
	font-size 3.5em
	position absolute
	top 60%
	line-height 1em
	margin-top -.5em
	left 0
	right 0
	text-align center

.participant .medium-text.score
	font-size 1.8em
	top 50%

.participant .medium-text
	font-size 1.5em
	position absolute
	top 57%
	line-height 1em
	margin-top -.5em
	left 0
	right 0
	text-align center

.participant.player .choice-text
	font-size 2.3em
	top: 55%

.participant.player .played-text
	position absolute
	line-height 1em
	left 0
	right 0
	text-align center
	font-size: 1.1em;
	bottom: 0;
	background: rgba(255,255,255,.15);
	border-radius: 0 0 4px 4px;
	padding-bottom: 2px;


.participant.played
	background-color #333

.participant.complete,.participant.played.complete
	background-color #bbb

.participant.results .partner-result
	position absolute
	bottom 0
	left 0
	right 0
	text-align center
	background rgba(0,0,0,.2)
	border-radius 4px

.participant.results .partner-id
	line-height 1.4em
	font-size .9em
	display inline
	margin: 0 2px

.participant.results .partner-score
	font-size .9em
	line-height: 1.4em
	display inline
