no-talk-colour = #1f77b4 //blue
talked-colour = #ff7f0e //orange

rect.bar-A {
  fill: no-talk-colour
}

rect.bar-B {
  fill: talked-colour
}

.participant.results.choices-AA
	background-color no-talk-colour

.participant.results.choices-AB
	background-color darken(no-talk-colour, 30%)

.participant.results.choices-BA
	background-color talked-colour

.participant.results.choices-BB
	background-color darken(talked-colour, 30%)
