<div class="pd-configure"></div>
<div class="control-panel-group">
	<h4>Team Names</h4>

	<div class="form-horizontal narrow">
		<div class="control-group">
			<label for="team1-name-input" class="control-label">Team 1</label>
			<div class="controls">
				<input id="team1-name-input" type="text" class="input-mini" value="<%= team1Name %>">
			</div>
		</div>

		<div class="control-group">
			<label for="team2-name-input" class="control-label">Team 2</label>
			<div class="controls">
				<input id="team2-name-input" type="text" class="input-mini" value="<%= team2Name %>">
			</div>
		</div>
</div>
