cooperated-colour = #1f77b4 //blue
defected-colour = #ff7f0e //orange


.line.cooperated .swatch {
  background-color: cooperated-colour;
}

.line.defected .swatch {
  background-color: defected-colour;
}

path.cooperated {
  stroke: cooperated-colour;
}

path.defected {
  stroke: defected-colour;
}

rect.bar-C-Cooperated {
  fill: cooperated-colour
}

rect.bar-D-Defected {
  fill: defected-colour
}

.results-participants {
  margin-bottom: 40px;
}
.results-stats table {
  width: 20em;
}

.overlay.pd-choices-CC
  background-color rgba(cooperated-colour, .7)
  border 3px solid rgba(cooperated-colour, .95)
.overlay.pd-choices-CD
  background-color rgba(darken(cooperated-colour, 60%), .7)
  border 3px solid cooperated-colour

.overlay.pd-choices-DC
  background-color rgba(defected-colour, .7)
  border 3px solid defected-colour
.overlay.pd-choices-DD
  background-color rgba(darken(defected-colour, 60%), .7)
  border 3px solid defected-colour

.participant.results.choices-CC, .participant.results.choice-C
  background-color cooperated-colour

.participant.results.choices-CD
  background-color darken(cooperated-colour, 30%)

.participant.results.choices-DC, .participant.results.choice-D
  background-color defected-colour

.participant.results.choices-DD
  background-color darken(defected-colour, 30%)


.legend .defected > span
  background: defected-colour;

.legend .cooperated > span
  background: cooperated-colour;

.partner-choice {
  width: 5px;
  height: 5px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 2px;
  border: 1px solid rgba(255,255,255,.4);
  box-shadow: 1px 1px 1px #000;
}

.choices-CC .partner-choice,
.choices-DC .partner-choice {
  background-color: cooperated-colour;
}

.choices-CD .partner-choice,
.choices-DD .partner-choice {
  background-color: defected-colour;
}

.pay-off-matrix td {
  padding: 2px 5px;
}

.pay-off-matrix input {
  margin: 0;
}


/* team based style */
.team-stats {
  margin-top: 2em;
}

.team-stats {
  font-size: 1.4em;
}

.team-stats tr.defect th, .team-stats tr.cooperate th {
  color: #fff;
}

.team-stats tr.cooperate {
  background-color: cooperated-colour;
}

.team-stats tr.cooperate td {
  background-color: lighten(cooperated-colour, 80%)
}


.team-stats tr.defect {
  background-color: defected-colour;
}

.team-stats tr.defect td {
  background-color: lighten(defected-colour, 80%)
}


/* percentage bars */
.percentage-bar .percentage-section.percentage-section-cooperate {
  background-color: cooperated-colour
}

.percentage-bar .percentage-section.percentage-section-defect {
  background-color: defected-colour
}