<h5 class="clicker-id"><%= id %></h5>
<% _.each(buttons, function(button) {
	if (labels !== undefined && labels[button] !== undefined) { %>
	<button class='btn btn-block clicker-btn clicker-btn-<%= button %> labeled'><b><%= button %></b> <%= labels[button] %></button>
<% } else { %>
	<button class='btn btn-block clicker-btn clicker-btn-<%= button %>'><%= button %></button>
<% } %>
<% }); %>


<!--
	TODO
	//        if (config.labels !== undefined && config.labels[vote] !== undefined) {
//          $btn.html("<b>"+vote+"</b> "+config.labels[vote]).addClass("labeled");
//        }
 -->