#content-outer {
  width: 960px;
  margin: auto;
}
#canvas-container {
  width: 800px;
  height: 600px;
}
#main {
  padding: 20px;
}
.clicker-toolbar {
  background: #eee;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 20px;
}
.clicker-toolbar button {
  margin-right: 10px;
}
/** Clicker Inputs **/
.clicker {
  width: 140px;
  border: 1px solid #ccc;
  padding: 10px;
  display: inline-block;
  margin: 10px 20px;
  border-radius: 4px;
}
.clicker-id {
  text-align: center;
}
.clicker-btn.labeled {
  text-align: left;
  font-weight: normal;
}
.clicker-btn b {
  padding: 8px;
  margin-right: 3px;
  background: rgba(0, 0, 0, 0.1);
}
.clicker-btn {
  font-weight: bold;
}
