<h4><%= header %></h4>
<% if (description !== undefined) { %>
<div class="instruction-description"><%= description %></div>
<% } %>
<div class="instruction-clicker">
	<% _.each(buttons, function (button) { %>
	<div class="clicker-button-group <%
	if (buttonConfig[button] === undefined) {
		print("disabled");
	} else if (buttonConfig[button].className !== undefined) {
		print(buttonConfig[button].className);
	}
	%>">
		<div class="clicker-button"><%= button %></div>
		<div class="clicker-button-description"><% if (buttonConfig[button] !== undefined) { print(buttonConfig[button].description); } %></div>
	</div>
	<% }); %>
</div>