<h4><%= nameHeader %></h4>
<div class="form-horizontal narrow">
	<div class="control-group">
		<label for="group1-name-input" class="control-label"><%= group1Label %></label>
		<div class="controls">
			<input id="group1-name-input" type="text" class="input-mini" value="<%= group1Name %>">
		</div>
	</div>

	<div class="control-group">
		<label for="group2-name-input" class="control-label"><%= group2Label %></label>
		<div class="controls">
			<input id="group2-name-input" type="text" class="input-mini" value="<%= group2Name %>">
		</div>
	</div>
</div>