@import "nib"

.participant.rejected, .ultimatum-score.rejected {
	background-color: #900
	border: 1px solid #700;
}

.participant.accepted, .ultimatum-score.accepted {
	background-color: #0a0;
	border: 1px solid #080;
}

.ultimatum-score {
	padding: 2px 0;

}

.ultimatum-results .participant {
	background-color: #333;
}