<form>
	<div class="control-group">
		<label for="manual-reg-alias">Alias</label>
		<div class="alert-container"></div>
		<div class="controls">
			<div class="input-append">
				<input type="text" id="manual-reg-alias" class="input-small" />
				<button class="btn listen-alias" type="button">Listen</button>
			</div>
			<span class="help-block">Click "Listen" to receive the Alias from the Participant Server.</span>
		</div>
	</div>
	<div class="control-group">
		<label for="manual-reg-name">Name</label>
		<div class="controls">
			<input type="text" id="manual-reg-name" class="input-medium" />
		</div>
	</div>

	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn register-submit">Register</button>
		</div>
	</div>
</form>