<div>
	<h1>Register Participant</h1>
	<div class="register-participant">
		<form class="form-inline">
			<div class="input-append">
				<input type="text" class="input-small server-id" placeholder="Server ID" />
				<button class="btn listen-server-id" type="button">Listen</button>
			</div>
			<i class="icon-arrow-right"></i>
			<input type="text" class="input-small system-id" placeholder="System ID" />
			<button type="submit" class="btn register-submit">Register</button>
		</label>
	</form>
	</div>
</div>
<div>
	<h3>Registered Participants</h3>
	<div class="participants"></div>
</div>