cooperated-colour = #1f77b4 //blue
defected-colour = #ff7f0e //orange


.line.cooperated .swatch {
  background-color: cooperated-colour;
}

.line.defected .swatch {
  background-color: defected-colour;
}

path.cooperated {
  stroke: cooperated-colour;
}

path.defected {
  stroke: defected-colour;
}

rect.bar-C-Cooperated {
  fill: cooperated-colour
}

rect.bar-D-Defected {
  fill: defected-colour
}

.results-participants {
  margin-bottom: 40px;
}
.results-stats table {
  width: 20em;
}

.participant.results.choices-CC, .participant.results.choice-C
  background-color cooperated-colour

.participant.results.choices-CD
  background-color darken(cooperated-colour, 30%)

.participant.results.choices-DC, .participant.results.choice-D
  background-color defected-colour

.participant.results.choices-DD
  background-color darken(defected-colour, 30%)

.legend
  font-size: 1.3em;
  line-height: 1.4em;
  float: right;
  margin-right: 30px;

.legend .defected > span,
.legend .cooperated > span
  display: inline-block;
  width:  1em;
  height: 1em;
  border-radius: 4px;

.legend .defected > span
  background: defected-colour;

.legend .cooperated > span
  background: cooperated-colour;

.partner-choice {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 2px;
}

.choices-CC .partner-choice,
.choices-DC .partner-choice {
  background-color: cooperated-colour;
}

.choices-CD .partner-choice,
.choices-DD .partner-choice {
  background-color: defected-colour;
}

.pay-off-matrix td {
  padding: 2px 5px;
}

.pay-off-matrix input {
  margin: 0;
}


/* team based style */
.team-stats {
  margin-top: 2em;
}

.team-stats {
  font-size: 1.4em;
}

.team-stats tr.defect th, .team-stats tr.cooperate th {
  color: #fff;
}

.team-stats tr.cooperate {
  background-color: cooperated-colour;
}

.team-stats tr.cooperate td {
  background-color: lighten(cooperated-colour, 80%)
}


.team-stats tr.defect {
  background-color: defected-colour;
}

.team-stats tr.defect td {
  background-color: lighten(defected-colour, 80%)
}