@import "nib"

.participant.rejected, .ultimatum-score.rejected {
	background-color: #900
}

.participant.accepted, .ultimatum-score.accepted {
	background-color: #0a0;
}

.ultimatum-score {
	margin-bottom: 5px
	margin-top: 2px
}

.ultimatum-results .participant {
	background-color: #333;
}