hare-colour = rgba(76, 34, 151, 0.85) /* purple */
stag-colour = rgba(88, 146, 39, 0.85) /* green */


.legend .hare > span {
  background-color: hare-colour
}

.legend .stag > span {
  background-color: stag-colour
}

.percentage-bar .percentage-section.percentage-section-stag {
  background-color: stag-colour
}

.percentage-bar .percentage-section.percentage-section-hare {
  background-color: hare-colour
}