<div id="content-outer">
	<div id="content-inner">
		<div id="fullscreen-container">
			<div class="server-status server-status-tiny clearfix"></div>
			<div id="debug-nav">
				<ul class="inline">
					<li><a href="/">Index</a></li>
					<li><a href="/apps/grid">Grid App</a></li>
					<li><a href="/apps/pd">Prisoner's Dilemma App</a></li>
					<li><a href="/grid">Grid</a></li>
					<li><a href="/attendance">Attendance</a></li>
					<li><a href="/register">Register</a></li>
					<li><a href="/controls">Controls</a></li>
					<li><a href="/clicker">Clicker</a></li>
				</ul>
			</div>
			<div id="main-content">
			</div>
		</div>
	</div>
</div>