<div id="content-outer">
	<div id="content-inner">
		<div id="fullscreen-container">
			<div class="top-bar clearfix">
				<div class="view-controls"></div>
				<div class="server-status"></div>
			</div>
			<div id="debug-nav">
				<ul class="inline">
					<li><a href="/">Index</a></li>
					<li><a href="/sandbox">Sandbox</a></li>
					<li><a href="/apps/pd">PD</a></li>
					<li><a href="/apps/pdm">PDM</a></li>
					<li><a href="/apps/npd">NPD</a></li>
					<li><a href="/apps/teampd">Team PD</a></li>
					<li><a href="/apps/ultimatum">UG</a></li>
					<li><a href="/apps/ultimatum-partitioned">UGP</a></li>
					<li><a href="/controls">Controls</a></li>
					<li><a href="/clicker">Clicker</a></li>
				</ul>
			</div>
			<div id="main-content">
			</div>
		</div>
	</div>
</div>